# Dependencies
node_modules/
.pnp
.pnp.*

# Next.js
.next/
out/
build/

# Env files
.env
.env.*
!.env.example

# Misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel
